.card-team{
    height: 100%;
    min-width: 30%;
    margin-bottom: 0rem;
}

.card-team--margin-top{
    margin-top: 4rem;
}


@media only screen and (min-width: 770px){
    .card-team--margin-top{
        margin-top: 7rem;
    }
}