.div-title{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media only screen and (min-width: 770px){
    .div-title{
        margin-right: 6%;
        flex-direction: row;
        justify-content: space-between;
    }
}